@import "./_variables";
.App {
    width: 750px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: $font-size;

    &__tabs {
        width: 100%;
        display: flex;
        background: $color-blue;

        &__tab {
            width: 50%;
            text-align: center;
            color: $color-white;
            padding: $unit;
            cursor: pointer;

            &.notActive {
                background: lighten($color-blue, 10%);
                box-shadow: inset 0px 0px 5px 0px rgba(39, 23, 52, 0.25);
            }
        }
    }
}
