@import "./_variables";

.JokesList,
.FavoritesList {
    &__header {
        padding: $unit 0;
        height: $unit * 4;
        border-bottom: 1px solid $color-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 32px;
        }

        button {
            background: $color-white;
            color: $color-blue;
            border: 1px solid $color-blue;
            font-size: $font-size;
            border-radius: 20px;
            padding: $unit / 2 $unit;
            text-decoration: none;
            transition: all 0.7s;
            min-width: 250px;

            &:hover {
                background: $color-blue;
                color: $color-white;
            }

            &.active {
                background: green;
                color: $color-white;
            }
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &__item {
            display: flex;
            align-items: center;

            .selected {
                background: green;
                color: $color-white;
                border: 1px solid green;

                &:hover {
                    background: $color-white;
                    color: green;
                }
            }

            button {
                background: $color-white;
                color: $color-blue;
                border: 1px solid $color-blue;
                font-size: 12px;
                border-radius: 20px;
                padding: $unit / 2 $unit;
                text-decoration: none;
                transition: all 0.7s;
                margin-right: $unit;
                min-width: 165px;

                &:hover {
                    background: $color-blue;
                    color: $color-white;
                }
            }
        }
    }
}
